.dropdown-container {
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.dropdown-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid var(--light-grey);
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  justify-content: space-between;
  margin: 0.25rem 0;
}

.dropdown-label {
  font-size: var(--font-size);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: #fff;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  width: 100%;
  margin-top: 0.15rem;
}

.dropdown-menu-open,
.dropdown-no-options {
  display: block;
  z-index: 10;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.dropdown-item {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  color: var(--text-color);

  &:hover {
    background-color: var(--light-grey);
  }
}

.no-option {
  color: var(--light-grey);
}
