.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: 100px auto;
  width: 24rem;
}

.title {
  margin: 0.5rem 0 1rem;
  text-align: center;
}
