.wrapper {
  padding: 1rem 0.5rem;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-wrapper {
  :global {
    span {
      color: var(--text-color);
    }
    label {
      span {
        border-color: var(--text-color);
      }
    }
  }
}

.dark-wrapper {
  :global {
    span {
      color: var(--light-grey);
    }
    label {
      span {
        border-color: var(--light-grey);
      }
    }
  }
}

.left {
  margin-right: auto;
}

.right {
  order: 2;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--transparent);
  padding: 0.35rem;
}
